#left_menu{-fx-background-color: linear-gradient(to right, #2980b9, #2c3e50);}

#btn_nosotros{

    -fx-border-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
#btn_nosotros:hover{

    -fx-background-color: #0D2286;
}

#btn_registro{

  -fx-border-color: white;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
}

#btn_registro:hover{

    -fx-background-color: #0D2286;
}

#btn_proyect{

  -fx-border-color: white;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
}

#btn_proyect:hover{

    -fx-background-color: #0D2286;
}

