#left_menu{-fx-background-color: linear-gradient(to right, #2980b9, #2c3e50);}
#panel_registro{-fx-background-color: linear-gradient(to left, #076585 , #fff);}


#btn_nosotros{

    -fx-border-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
}
#btn_nosotros:hover{

    -fx-background-color: #0D2286;
}

#btn_registro{

  -fx-border-color: white;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
    -fx-background-color: transparent;
}

#btn_registro:hover{

    -fx-background-color: #0D2286;
}

#btn_proyect{

  -fx-border-color: white;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
   -fx-background-color: transparent;
}

#btn_proyect:hover{

    -fx-background-color: #0D2286;
}

#btn_Tabla_registros{

    -fx-border-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;


}
#btn_Tabla_registros:hover{

       -fx-background-color: #0D2286;
}

#btn_enviar{

    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color: blue ;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;



}

#btn_enviar:hover{

    -fx-background-color: #007991;
    -fx-text-fill: white;
    -fx-border-color: #fff;


}